/venv/
/.idea/
/__pycache__/
__pycache__/
__pycache__/*
.idea/.gitignore
.idea/emis_selenium.iml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
/.ssh/
.ssh/*
jwtRS256.key.pub
jwtRS256.key
ngrok
chromedriver
