/venv/
/.idea/
/__pychache__/
git rm -r --cached __pycache__/
__pychache__/*
.idea/.gitignore
.idea/emis_selenium.iml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
/.ssh/
.ssh/*
